MONGODB_URI=mongodb://localhost:27017/dhaka_tesla_pool
MONGODB_TEST_URI=mongodb://localhost:27017/dhaka_tesla_pool_test

PORT=8000


AccessTokenSecret=dummy-access-token-secret
RefreshTokenSecret=dummy-refresh-token-secret
AccessTokenExpiresIn=15m
RefreshTokenExpiresIn=7d
JWT_SECRET=dummy-jwt-secret



CLOUDINARY_CLOUD_NAME=dummy-cloud-name
CLOUDINARY_API_KEY=dummy-api-key
CLOUDINARY_API_SECRET=dummy-api-secret


EMAIL_USER=dummy@example.com
EMAIL_APP_PASSWORD=dummy-app-password
EMAIL_FROM_NAME=Email OTP Demo

OTP_SECRET=dummy-otp-secret
ENABLE_DEMO_ACCOUNTS=true

